<form ng-model="loginData">
	username <input type="text" ng-model="loginData.username" required>
	password <input type="password" ng-model="loginData.password" required>
	<button ng-click="login()"></button>
</form>